.App-link {
    color: #61dafb;
}

.App-container {
    background-color: #eeeeee;
    min-height: 100vh;
    color: #393e46;
    display: flex;
    vertical-align: top;
}

.App-left-half {
    background: #eeeeee;
    flex: 4;
    padding: 1rem;
}

.App-right-half {
    background: #00adb5;
    flex: 1;
    padding: 1rem;
}
