.Video-local {
    width: 240px;
    height: 180px;
    margin: 0;
    border: 1px solid #bbb;
}

.Video-id {
    font-size: 0.5rem;
    font-weight: lighter;
    margin: 2px 0;
    color: #eeeeee;
}

.Video-name {
    margin: 2px 0;
    font-size: 0.6rem;
    font-weight: lighter;
    color: #eeeeee;
}

.Video-area {
    text-align: center;
    padding: 10px;
}
