.Video-local {
    width: 200px;
    height: 200px;
    object-fit: cover;
    background: #222;
    border-radius: 50%;
    transform: scaleX(-1);
    filter: sepia(0.3) drop-shadow(1px 2px 4px white);
}

.Video-id {
    font-size: 0.5rem;
    font-weight: lighter;
    margin: 2px 0;
    color: #eeeeee;
}

.Video-name {
    margin: 2px 0;
    font-size: 0.6rem;
    font-weight: lighter;
    color: #eeeeee;
}

.Video-area {
    text-align: center;
    padding: 10px;
}
