body {
    margin: 0;
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
    line-height: 150%;
    height: 100vh;
    color: #000;
}

.hidden {
    display: none;
}

video {
    background: #222;
    margin: 0 0 20px 0;
    --width: 100%;
    width: var(--width);
    height: calc(var(--width) * 0.75);
}
